/* line 40, ../sass/includes.scss */
.table-align {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 660px) {
  @keyframes upDown {
    0% {
      bottom: -250px;
    }
    100% {
      bottom: -210px;
    }
  }
  /* line 15, ../sass/responsive.scss */
  .main-container-sm-mid {
    width: 100%;
  }
  /* line 17, ../sass/responsive.scss */
  .main-container-sm-mid p {
    margin: 0 auto;
    font-size: .7em !important;
  }

  /* line 23, ../sass/responsive.scss */
  header {
    height: 25em !important;
  }
  /* line 26, ../sass/responsive.scss */
  header .lead-text {
    width: 100%;
    line-height: 31px;
  }
  /* line 31, ../sass/responsive.scss */
  header:after {
    bottom: -210px;
    width: 350px;
  }

  /* line 37, ../sass/responsive.scss */
  section {
    width: 100% !important;
    margin: 30px auto !important;
  }

  /* line 42, ../sass/responsive.scss */
  .sect-lib-content {
    width: unset !important;
    display: unset !important;
  }
  /* line 45, ../sass/responsive.scss */
  .sect-lib-content .sect-lib-content-item {
    padding: 0 !important;
    width: 100% !important;
  }

  /* line 51, ../sass/responsive.scss */
  h1,
  h2,
  h3,
  .lead-text {
    width: 90% !important;
    margin: 30px auto;
    font-size: 100% !important;
    line-height: 1.5;
  }

  /* line 61, ../sass/responsive.scss */
  .timetable-wrapper {
    display: unset;
  }
  /* line 62, ../sass/responsive.scss */
  .timetable-wrapper table {
    -webkit-display: contents;
    -moz-display: contents;
    -ms-display: contents;
    -o-display: contents;
    display: contents;
  }
  /* line 69, ../sass/responsive.scss */
  .timetable-wrapper table td:last-child {
    border-right: none !important;
    border-left: none !important;
  }
  /* line 73, ../sass/responsive.scss */
  .timetable-wrapper table td:nth-child(4n) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }
  /* line 80, ../sass/responsive.scss */
  .timetable-wrapper tr {
    display: grid;
  }
  /* line 83, ../sass/responsive.scss */
  .timetable-wrapper td {
    display: block;
    float: left;
  }

  /* line 89, ../sass/responsive.scss */
  .main-artcl-main {
    margin-bottom: 80px;
  }
  /* line 92, ../sass/responsive.scss */
  .main-artcl-main .main-artcl-list-item {
    height: 100% !important;
  }

  /* line 97, ../sass/responsive.scss */
  .main-artcl-main {
    display: unset !important;
    justify-content: normal !important;
  }
  /* line 100, ../sass/responsive.scss */
  .main-artcl-main .main-artcl-list-item {
    margin: 0 !important;
    width: 100% !important;
    margin-bottom: 80px !important;
  }

  /* line 107, ../sass/responsive.scss */
  .articl-sect-main {
    height: 100% !important;
  }
  /* line 109, ../sass/responsive.scss */
  .articl-sect-main .container-clearfx {
    width: 90% !important;
  }

  /* line 114, ../sass/responsive.scss */
  #mc_embed_signup_wrapper {
    width: unset !important;
  }
  /* line 117, ../sass/responsive.scss */
  #mc_embed_signup_wrapper h1,
  #mc_embed_signup_wrapper h2,
  #mc_embed_signup_wrapper h3,
  #mc_embed_signup_wrapper h4 {
    width: 100% !important;
  }
  /* line 124, ../sass/responsive.scss */
  #mc_embed_signup_wrapper input {
    padding: 6px 0 6px 0 !important;
    margin: 0 !important;
  }
  /* line 129, ../sass/responsive.scss */
  #mc_embed_signup_wrapper p {
    line-height: 1.5 !important;
  }
}
