/* line 17, ../sass/includes.scss */
.table-align {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 660px) {
  @keyframes upDown {
    0% {
      bottom: -250px;
    }
    100% {
      bottom: -210px;
    }
  }
  /* line 15, ../sass/responsive.scss */
  .main-container-sm-mid {
    width: 100%;
  }

  /* line 19, ../sass/responsive.scss */
  header {
    height: 25em !important;
  }
  /* line 22, ../sass/responsive.scss */
  header .lead-text {
    width: 100%;
    line-height: 31px;
  }
  /* line 27, ../sass/responsive.scss */
  header:after {
    bottom: -210px;
    width: 350px;
  }

  /* line 33, ../sass/responsive.scss */
  section {
    width: 100% !important;
    margin: 30px auto !important;
  }

  /* line 38, ../sass/responsive.scss */
  h1,
  h2,
  h3,
  .lead-text {
    width: 90% !important;
    font-size: 100% !important;
  }

  /* line 46, ../sass/responsive.scss */
  .main-artcl-main {
    margin-bottom: 80px;
  }
  /* line 49, ../sass/responsive.scss */
  .main-artcl-main .main-artcl-list-item {
    height: 100% !important;
  }

  /* line 54, ../sass/responsive.scss */
  .sect-library * {
    width: 100% !important;
    float: left !important;
  }

  /* line 59, ../sass/responsive.scss */
  .articl-sect-main {
    height: 100% !important;
  }
}
