/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/includes.scss */
.table-align {
  display: table-cell;
  vertical-align: middle;
}

/* line 10, ../sass/screen.scss */
html,
body {
  font-family: 'Roboto';
  /*  $iniFontSize = 6px :root = 16px  */
  font-size: 16px;
  box-sizing: border-box;
}

/* line 18, ../sass/screen.scss */
h1 {
  font-size: 54px;
  font-weight: 300;
  margin-bottom: 30px;
}

/* line 24, ../sass/screen.scss */
h2,
.logo-holder {
  font-size: 38px;
  font-weight: 300;
}

/* line 30, ../sass/screen.scss */
h3,
h4 {
  margin: 15px 0 15px 0;
}

/* line 35, ../sass/screen.scss */
h3 {
  font-size: 15px;
  font-weight: 500;
}

/* line 40, ../sass/screen.scss */
h4 {
  font-size: 22px;
  font-weight: 400;
}

/* line 45, ../sass/screen.scss */
.logo-holder {
  position: relative;
}
/* line 47, ../sass/screen.scss */
.logo-holder:after {
  position: absolute;
  display: block;
  content: 'Copyright: 2018';
  font-size: .3em;
  float: left;
}

/* line 56, ../sass/screen.scss */
main, #content {
  display: block;
}

/* line 60, ../sass/screen.scss */
pre {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
/* line 62, ../sass/screen.scss */
pre code {
  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow: hidden !important;
  line-height: 16px;
}
/* line 72, ../sass/screen.scss */
pre .hljs {
  background-color: #25292e !important;
}

/* line 77, ../sass/screen.scss */
#scrollBar-wrapper {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  height: 1px;
}

/* line 86, ../sass/screen.scss */
#scrollBar-progress {
  transition: all 500ms;
  background-color: #0366d6;
  width: 0%;
  height: 1px;
}

/* line 93, ../sass/screen.scss */
.main-nav {
  position: relative;
  top: 0;
  right: 0;
  min-height: 65px;
  width: 100%;
  box-shadow: 5px 5px 15px #f3f3f3;
  background-color: #24292e;
}

/* line 103, ../sass/screen.scss */
.main-container-sm-mid {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 109, ../sass/screen.scss */
.main-container-sm-mid .main-links {
  height: 65px;
  display: inline-table;
}
/* line 113, ../sass/screen.scss */
.main-container-sm-mid .main-links .main-links-item {
  padding: 25px;
  color: #0366d6;
  border-right: 1px #404448 solid;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
/* line 118, ../sass/screen.scss */
.main-container-sm-mid .main-links .main-links-item:hover {
  cursor: pointer;
  background: #fafbfc;
  text-decoration: none;
  color: #24292e;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
/* line 126, ../sass/screen.scss */
.main-container-sm-mid .main-links:nth-child(2) {
  border-left: 1px #404448 solid !important;
}
/* line 131, ../sass/screen.scss */
.main-container-sm-mid .main-container-subhedings {
  line-height: 65px;
  font-size: .85em;
  float: left;
  color: #586069;
}

/* line 139, ../sass/screen.scss */
.lead-text {
  font-weight: 100;
  font-size: 26px;
  width: 55%;
  margin: 0 auto;
}

/* line 146, ../sass/screen.scss */
.fix-height {
  height: 100% !important;
  overflow: hidden;
}

/* line 151, ../sass/screen.scss */
.container-clearfx {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

/* line 159, ../sass/screen.scss */
header {
  position: relative;
  height: 35em;
  background-image: url(https://github.com/images/modules/site/heroes/simple-codelines.svg);
  background-color: #2b3137;
  background-position: center 10%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 0 0 0;
  text-align: center;
}
/* line 171, ../sass/screen.scss */
header:after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  height: 350px;
  width: 620px;
  background-image: url(https://dev.rodpub.com/images/130/362_main.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  animation: 2s upDown;
  animation-delay: 500ms;
}

@keyframes upDown {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: -50px;
  }
}
/* line 197, ../sass/screen.scss */
article {
  width: 100%;
}
/* line 200, ../sass/screen.scss */
article .articl-sect-main {
  width: 65%;
  min-height: 30em;
  margin: 110px auto;
  text-align: center;
  border-bottom: 1px #e1e4e8 solid;
}
/* line 207, ../sass/screen.scss */
article .articl-sect-main p {
  width: 50%;
  line-height: 34px;
  font-size: 20px;
  margin-bottom: 80px;
  color: #586069;
}
/* line 215, ../sass/screen.scss */
article .articl-sect-main .sect-lib-content {
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
}
/* line 221, ../sass/screen.scss */
article .articl-sect-main .sect-lib-content img {
  width: 100%;
}
/* line 225, ../sass/screen.scss */
article .articl-sect-main .sect-lib-content .sect-lib-content-item {
  width: 50%;
  height: fit-content;
  text-align: left;
}
/* line 230, ../sass/screen.scss */
article .articl-sect-main .sect-lib-content .sect-lib-content-item .sect-lib-item-subheading {
  font-size: 15px;
  width: 100%;
  font-weight: 300;
  line-height: 1.55;
  margin-bottom: 0;
}
/* line 239, ../sass/screen.scss */
article .articl-sect-main .sect-lib-content .flexed-item {
  align-self: center;
  padding-left: 32px;
}
/* line 242, ../sass/screen.scss */
article .articl-sect-main .sect-lib-content .flexed-item:nth-child(1) {
  padding-left: 0;
  padding-right: 32px;
}
/* line 249, ../sass/screen.scss */
article .articl-sect-main .main-artcl-main {
  display: flex;
  justify-content: space-between;
}
/* line 253, ../sass/screen.scss */
article .articl-sect-main .main-artcl-main .main-artcl-list-item {
  width: 33.33333%;
  height: 220px;
  margin: 1px;
  font-size: 14px;
}
/* line 259, ../sass/screen.scss */
article .articl-sect-main .main-artcl-main .main-artcl-list-item .artcl-list-item-cont {
  font-size: 14px;
  width: 75%;
  margin: 0 auto;
  color: #586069;
  line-height: normal;
}
/* line 270, ../sass/screen.scss */
article .sect-library {
  background-image: url(https://github.com/images/modules/site/heroes/features-hero-code-review.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 45em;
  margin: 0 auto;
  padding: 110px 0 110px 0;
}
/* line 281, ../sass/screen.scss */
article #mc_embed_signup {
  min-height: 35em;
  background-color: #24292e;
  text-align: center;
  line-height: 54px;
  color: #fff;
}
/* line 288, ../sass/screen.scss */
article #mc_embed_signup #mc_embed_signup_wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}
/* line 293, ../sass/screen.scss */
article #mc_embed_signup #mc_embed_signup_wrapper h2 {
  margin-bottom: 50px;
}
/* line 297, ../sass/screen.scss */
article #mc_embed_signup #mc_embed_signup_wrapper input {
  padding: 6px 8px;
  margin: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.25);
}
/* line 311, ../sass/screen.scss */
article #mc_embed_signup #mc_embed_signup_wrapper input:focus {
  border-color: #2188ff;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(3, 102, 214, 0.3);
}
/* line 317, ../sass/screen.scss */
article #mc_embed_signup #mc_embed_signup_wrapper button {
  font-weight: 500;
  font-family: Roboto;
  padding: .75em 1.25em;
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
/* line 326, ../sass/screen.scss */
article #mc_embed_signup #mc_embed_signup_wrapper button:active {
  background-color: #279f43;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}
/* line 334, ../sass/screen.scss */
article #mc_embed_signup #mc_embed_signup_wrapper p {
  color: #6a737d;
  font-size: 12px;
  margin-top: 50px;
}
/* line 342, ../sass/screen.scss */
article .gutter-md-holder {
  padding: 50px;
}
/* line 345, ../sass/screen.scss */
article .gutter-md-holder .gutter-element-holder {
  width: inherit;
  height: inherit;
  float: left;
  position: relative;
}
/* line 351, ../sass/screen.scss */
article .gutter-md-holder .gutter-element-holder .g-el-text-prev-content,
article .gutter-md-holder .gutter-element-holder .g-el-text-content {
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
}
/* line 360, ../sass/screen.scss */
article .gutter-md-holder .gutter-element-holder .g-el-text-prev-content {
  margin-top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
}
/* line 366, ../sass/screen.scss */
article .gutter-md-holder .gutter-element-holder .g-el-text-content {
  width: 80%;
}
/* line 370, ../sass/screen.scss */
article .gutter-md-holder .gutter-element-holder .g-el {
  position: absolute;
  border-radius: 50%;
}
/* line 376, ../sass/screen.scss */
article .gutter-md-holder .gutter-flex {
  display: unset !important;
}
/* line 380, ../sass/screen.scss */
article .gutter-md-holder .gutter-item-info-card {
  max-width: 400px !important;
  margin-left: auto !important;
  margin-bottom: 15px !important;
  height: unset !important;
  text-align: left;
  padding: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
/* line 389, ../sass/screen.scss */
article .gutter-md-holder .gutter-item-info-card:hover {
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.2);
  box-shadow: 0 10px 50px rgba(27, 31, 35, 0.07) !important;
}
/* line 397, ../sass/screen.scss */
article .gutter-md-holder .gutter-main {
  top: 0;
  left: 0;
  background-color: #fb8532;
  height: 195px;
  width: 195px;
}
/* line 405, ../sass/screen.scss */
article .gutter-md-holder .gutter-developer {
  top: 25%;
  left: 55%;
  background-color: #0366d6;
  height: 155px;
  width: 155px;
}
/* line 413, ../sass/screen.scss */
article .gutter-md-holder .gutter-business {
  top: 40%;
  left: 20%;
  background-color: #6f42c1;
  height: 115px;
  width: 115px;
}

/* line 423, ../sass/screen.scss */
footer {
  min-height: 250px;
  border-top: 1px #e1e4e8 solid;
}
/* line 427, ../sass/screen.scss */
footer .footer-wrapper-main {
  width: 65%;
  min-height: inherit;
  margin: 30px auto;
}
/* line 432, ../sass/screen.scss */
footer .footer-wrapper-main .foot-list-item-holder {
  float: left;
  padding: 35px;
}
/* line 436, ../sass/screen.scss */
footer .footer-wrapper-main .foot-list-item-holder .foot-list-item {
  color: #586069;
  line-height: 2.25;
  font-size: 14px;
}
