
@import "variables.scss";

@mixin initialTransition($time) {
	-webkit-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}

@mixin initianTranslateX($translate) {
	-webkit-transform: translateX($translate);
	-ms-transform: translateX($translate);
	-o-transform: translateX($translate);
	transform: translateX($translate);
}

.table-align {
	display: table-cell;
	vertical-align: middle;
}