/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "includes.scss";

html,
body {
	font-family: 'Roboto';
	font-size: 16px;
	box-sizing: border-box;
}

h1 {
	font-size: 54px;
	font-weight: 300;
	margin-bottom: 30px;
}

main, #content {
	display: block;
}

.main-nav {
	position: relative;
	top: 0;
	right: 0;
	min-height: 65px;
	width: 100%;
	box-shadow: 5px 5px 15px #f3f3f3;
	background-color: #fff;
}

.main-container-sm-mid {
	width: 70%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;

	.main-links {
		height: 65px;
		display: inline-table;

		.main-links-item {
			display: table-cell;
			vertical-align: middle;
			padding: 25px;
			color: #0366d6;
			border-right: 1px #e1e4e8 solid;
			@include initialTransition(200ms);
			&:hover {
				cursor: pointer;
				background: #fafbfc;
				text-decoration: none;
				color: #24292e;
				@include initialTransition(200ms);
			}
		}
		&:nth-child(2) {
			border-left: 1px #e1e4e8 solid !important;
		}
	}

	.main-container-txt {
		height: inherit;
		display: table-cell;
		vertical-align: middle;
	}

	.main-container-subhedings {
		line-height: 65px;
		font-size: .8em;
		float: left;
		color: #586069;
	}
}

header {
	position: relative;
	height: 35em;
	background-color: #F3F3F3;
	padding: 100px 0 0 0;
	text-align: center;

	.container-clearfx {
		height: 100%;
		width: 70%;
		margin: 0 auto;
	}

	.lead-text {
		font-weight: 100;
		font-size: 26px;
		width: 55%;
		margin: 0 auto;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: -50px;
		left: 50%;
		@include initianTranslateX(-50%);
		display: block;
		height: 350px;
		width: 620px;
		background-image: url(https://dev.rodpub.com/images/130/362_main.jpg);
		background-repeat: no-repeat;
		background-size: contain;
	}
}