/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables.scss";
@import "includes.scss";

html,
body {
	font-family: 'Roboto';
	/*  $iniFontSize = 6px :root = 16px  */
	font-size: ($iniFontSize * 3) - 2 + px;
	box-sizing: border-box;
}

h1 {
	font-size: ($iniFontSize * 9) + px;
	font-weight: 300;
	margin-bottom: 30px;
}

h2,
.logo-holder {
	font-size: 38px;
	font-weight: 300;
}

h3,
h4 {
	margin: 15px 0 15px 0;
}

h3 {
	font-size: 15px;
	font-weight: 500;
}

h4 {
	font-size: 22px;
	font-weight: 400;
}

.logo-holder {
	position: relative;
	&:after {
		position: absolute;
		display: block;
		content: 'Copyright: 2018';
		font-size: .3em;
		float: left;
	}
}

main, #content {
	display: block;
}

pre {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;;
	code {
		text-align: left;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;  
		word-wrap: break-word;
		overflow: hidden !important;
		line-height: 16px;
	}
	.hljs {
		background-color: rgb(37, 41, 46) !important;
	}
}

#scrollBar-wrapper {
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	height: 1px;
}

#scrollBar-progress {
	transition: all 500ms;
	background-color: #0366d6;
	width: 0%;
	height: 1px;
}

.main-nav {
	position: relative;
	top: 0;
	right: 0;
	min-height: 65px;
	width: 100%;
	box-shadow: 5px 5px 15px #f3f3f3;
	background-color: #24292e;
}

.main-container-sm-mid {
	width: 65%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	.main-links {
		height: 65px;
		display: inline-table;

		.main-links-item {
			padding: 25px;
			color: #0366d6;
			border-right: 1px #404448 solid;
			@include initialTransition(200ms);
			&:hover {
				cursor: pointer;
				background: #fafbfc;
				text-decoration: none;
				color: #24292e;
				@include initialTransition(200ms);
			}
		}
		&:nth-child(2) {
			border-left: 1px #404448 solid !important;
		}
	}

	.main-container-subhedings {
		line-height: 65px;
		font-size: .85em;
		float: left;
		color: #586069;
	}
}

.lead-text {
		font-weight: 100;
		font-size: 26px;
		width: 55%;
		margin: 0 auto;
	}

.fix-height {
	height: 100% !important;
	overflow: hidden;
}

.container-clearfx {
	height: 100%;
	width: 70%;
	margin: 0 auto;

}	

header {
	position: relative;
	height: 35em;
	background-image: url(https://github.com/images/modules/site/heroes/simple-codelines.svg);
	background-color: #2b3137;
	background-position: center 10%;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	padding: 100px 0 0 0;
	text-align: center;

	&:after {
		content: '';
		position: absolute;
		bottom: -50px;
		left: 50%;
		@include initianTranslateX(-50%);
		display: block;
		height: 350px;
		width: 620px;
		background-image: url(https://dev.rodpub.com/images/130/362_main.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		animation: 2s upDown;
		animation-delay: 500ms;
	}
}

@keyframes upDown {
	0% {
		bottom: -150px;
	}
	100% {
		bottom: -50px;
	}
}

article {
	width: 100%;

	.articl-sect-main {
		width: 65%;
		min-height: 30em;
		margin: 110px auto;
		text-align: center;
		border-bottom: 1px #e1e4e8 solid;

		p {
			width: 50%;
			line-height: 34px;
			font-size: 20px;
			margin-bottom: 80px;
			color: #586069;
		}

		.sect-lib-content {
			width: 70%;
			margin: 50px auto;
			display: flex;
			flex-direction: row;

			img {
				width: 100%;
			}

			.sect-lib-content-item {
				width: 50%;
				height: fit-content;
				text-align: left;

				.sect-lib-item-subheading {
					font-size: 15px;
					width: 100%;
					font-weight: 300;
					line-height: 1.55;
					margin-bottom: 0;
				}
			}

			.flexed-item {
				align-self: center;
				padding-left: 32px;
				&:nth-child(1) {
					padding-left: 0;
					padding-right: 32px;
				}
			}
		}
		
		.main-artcl-main {
			display: flex;
			justify-content: space-between;

			.main-artcl-list-item {
				width: 33.33333%;
				height: 220px;
				margin: 1px;
				font-size: 14px;

				.artcl-list-item-cont {
					font-size: 14px;
					width: 75%;
					margin: 0 auto;
					color: #586069;
					line-height: normal;
				}
			}
		}
	}

	.sect-library {
		background-image: url(https://github.com/images/modules/site/heroes/features-hero-code-review.svg);
		background-size: cover;
		background-repeat: no-repeat;

		width: 100%;
		min-height: 45em;
		margin: 0 auto;
		padding: 110px 0 110px 0;
	}

	#mc_embed_signup {
		min-height: 35em;
		background-color: #24292e;
		text-align: center;
		line-height: 54px;
		color: #fff;

	#mc_embed_signup_wrapper {
		width: 50%;
		margin: 0 auto;
		padding: 50px;

		h2 {
			margin-bottom: 50px;
		}

		input {
			padding: 6px 8px;
			margin: 10px;
			font-size: 16px;
			line-height: 20px;
			color: #24292e;
			vertical-align: middle;
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: right 8px center;
			border: 1px solid #d1d5da;
			border-radius: 3px;
			outline: none;
			box-shadow: inset 0 1px 2px rgba(27,31,35,0.25);
			&:focus {
				border-color: #2188ff;
				outline: none;
				box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3);
			}
		}
		button {
			font-weight: 500;
			font-family: Roboto;
			padding: .75em 1.25em;
			border-radius: 6px;
			border: 1px solid rgba(27,31,35,0.2);
			color: #fff;
			background-color: #28a745;
			background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
			&:active {
				background-color: #279f43;
				background-image: none;
				border-color: rgba(27,31,35,0.5);
				box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
			}
		}

		p {
			color: #6a737d;
			font-size: 12px;
			margin-top: 50px;
		}
	}
}
}

footer {
	min-height: 250px;
	border-top: 1px #e1e4e8 solid;

	.footer-wrapper-main {
		width: 65%;
		min-height: inherit;
		margin: 30px auto;

		.foot-list-item-holder {
			float: left;
			padding: 35px;

			.foot-list-item {
				color: #586069;
				line-height: 2.25;
				font-size: 14px;
			}
		}
	}
}